/* jhealy: Support dark and light modes.  Dark is the default mode but if
           the UA prefers light then we override.  We use CSS variables
	   to specifiy colors to make the theming easier. */

/* Coolors Exported Palette - https://coolors.co/002b36-829496-faf2a1-fe5f00-00ccb1 based off of solarized-dark */
/* No media query; assume this as default palette */
    :root {
        /* gunmetal */
	--c-bg: #002b36ff;
        /* cadet-gray */
	--c-fg: #829496ff;
        /* vanilla */
	--c-mute: #faf2a1ff;
        /* orange-pantone */
	--c-hl-1: #fe5f00ff;
        /* turquoise */
	--c-hl-2: #00ccb1ff;
    }

/* Coolors Exported Palette - https://coolors.co/eee8d5-586e75-553011-a35c00-296b7a based off of solarized-light */
@media (prefers-color-scheme: light) {
    :root {
        /* eggshell */
	--c-bg: #eee8d5ff;
        /* payne's gray */
	--c-fg: #586e75ff;
        /* seal brown */
	--c-mute: #553011ff;
        /* golden brown */
	--c-hl-1: #a35c00ff;
        /* caribbean current */
	--c-hl-2: #296b7aff;
    }
}

body {
  max-width: 120ch;
  margin: auto;
  padding: 1em;
  font-family: "Atkinson Hyperlegible", "Liberation Sans", "Source Sans Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}


main {
  /* set max width based on code block size (we set paragraphs below) */
  max-width: 80ch;
  margin: auto;
  /* 1.2 to 1.5 spacing for lines makes things more readable */
  line-height: calc(1ex / 0.32);
}

article {
  /* help readability with max line length for paragraphs */
  max-width: 66ch;
  margin: auto;
}

article>div.highlight {
  /* allow code blocks to stretch to 80 columns */
  width: 80ch;
  position: relative;
}

a:link {
    color: var(--c-hl-1);
    text-decoration: underline 2px;
    text-underline-position: under;
}

a:visited {
    color: var(--c-hl-2);
    text-decoration: underline 2px;
    text-underline-position: under;
}


/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  color: var(--c-fg);
}
.menu a {
  font-weight: bold;
  border: 2px solid var(--c-bg);
  padding: 10px;
  border-radius: 10px;
}
.menu a:hover {
  background: var(--c-bg);
}
.menu, .article-meta .p-name, footer { text-align: center; }
.article-meta .p-name { clear: both; padding-top: 1ex; color: var(--c-mute); }
.article-meta .date { float: left; }
.article-meta .tags { float: right; }
.article-meta .tags ul { padding: 0; margin: 0; display: inline-block; }
.article-meta .tags li { display: inline-block; }

footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: var(--c-mute);
}

/* code */
pre {
  border-left: 4px solid var(--c-hl-1);
  padding: 1em;
  overflow-x: auto;
}
code {
  background: var(--c-bg);
  font-family: "Source Code Pro", "Hack", "Liberation Mono", Monaco, monospace;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: var(--c-bg);
  border-left: 5px solid var(--c-hl-2);
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid var(--c-hl-1);
  border-bottom: 1px solid var(--c-hl-1);
}
table thead th { border-bottom: 1px solid var(--c-hl-1); }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: var(--c-bg); }

footer .menu {
  float: left;
}

footer .copyright {
  margin-top: 1em;
  float: right;
}

