<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{{ if .Description }}    <meta name="description" content="{{ .Description }}" />{{ end }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <style>:root { color-scheme: light dark; }</style>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/chromastyles-dark.css" | relURL }}" media="print" onload="this.media='all';" />
    <link rel="stylesheet" href="{{ "css/chromastyles-light.css" | relURL }}" media="print" onload="this.media='(prefers-color-scheme: light)';" />
    <noscript>
      <link rel="stylesheet" href="{{ "css/chromastyles-dark.css" | relURL }}" />
      <link rel="stylesheet" href="{{ "css/chromastyles-light.css" | relURL }}" media="(prefers-color-scheme: light)" />
    </noscript>
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>

    <main>
{{ block "main" . }}
{{ end }}
    </main>
    
  <footer>
  <hr/>
  <ul class="menu">
    {{ range .Site.Menus.footer }}
    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  {{ with .Site.Params.footer }}
  <div class="copyright">{{ replace . "{Year}" now.Year | markdownify }}</div>
  {{ end }}
  </footer>
  </body>
</html>
