{{ define "main" }}
{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <a href="{{ .Permalink }}"><span>{{ .Date.Format "Jan 2, 2006" }}</span>:
    <span>{{ .Title }}</span></a>
    (<span>{{ .ReadingTime }} Minutes</span>,
    <span>{{ .WordCount }} Words</span>)<br />
    {{ .Description }}
  </li>
  {{ end }}
</ul>
{{ end }}
