{{ define "main" }}
<article>
<header class="article-meta h-entry">
{{ if (gt .Params.date 0) }}<div class="date">Published: <span class="dt-published">{{ .Date.Format "2006/01/02" }}</span></div>{{ end }}
{{ if .Params.tags }}<div class="tags">Tags: <ul>{{ range .Params.tags }}
  <li><a href='{{ "tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a></li>
{{ end }}</ul></div>{{ end }}
<h1 class="p-name">{{ .Title | markdownify }}</h1>
</header>

{{ .Content }}
</article>

{{ end }}
