{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Site.Title }}</h1>
      <h2>{{ $.Site.Params.description }}</h2>
    </header>
    {{ .Content }}

    <h3>Recent Posts (<a href="{{ .Site.BaseURL }}posts/">see all</a>)</h3>
    <ul>
      {{ range first 10 (where .Site.RegularPages "Section" "=" "posts") }}
      <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>: {{ .Description }}</li>
      {{ end }}
    </ul>
  </article>
{{ end }}